.container {
  max-width: var(--max-width);
  width    : 100%;

  margin   : 0 auto;
  position : relative;

  .image {
    position  : absolute;
    top       : 10px;
    transition: top .5s ease;

    &:hover {
      top: 385px;
    }
    @media screen and (max-width: 585px) {
      display: none;
    }

    img {
      max-width: 500px;
      width    : 100%;
    }
  }

  .title {
    font-size : 30px;
    text-align: center;
    color     : var(--white);
    position  : absolute;
    z-index   : 1;
    top       : 340px;

    span {
      font-family: "EduVICWANTBeginner";
      color      : var(--orange);
    }
    @media screen and (max-width: 585px) {
      margin-top: 20px;
      position  : static;
    }
  }

  .wrapper {
    padding-top: 378px;
    @media screen and (max-width: 585px) {
      padding-top: 30px;
    }
    height     : fit-content;

    .cards {
      max-width            : var(--max-width);
      width                : 100%;
      position             : absolute;
      z-index              : 0;
      background-color     : var(--violet);
      display              : grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap                  : 20px;
      padding-bottom       : 100px;
      @media screen and (max-width: 585px) {
        padding-top: 0;
      }
    }
  }

}
